tr{
	font-family: arial;
}

.dataTables tbody tr {
min-height: 20px; /* or whatever height you need to make them all consistent */
}

.tableFont{
	font-size: 20px;
}

.redClass{
	background-color: red !important;
}