tr{
	font-family: arial;
}

.dataTables tbody tr {
min-height: 20px; /* or whatever height you need to make them all consistent */
}

.tableFont{
	font-size: 20px;
}

.redClass{
	background-color: red !important;
}

.lightRedClass{
	background-color: #FF7B7B !important;
}

.yellowClass{
	background-color: yellow !important;
}

.lightBlueClass{
	background-color:  	#ADD8E6 !important;
}

.darkBlueClass{
	background-color:  #87CEFA	 !important;
}

.lightGreyClass{
	background-color: lightgrey !important; 
}

.darkGreyClass{
	background-color: #464646 !important; 
	color: white !important;
}

.blackClass{
	background-color: black !important;
	color: white !important;
}

.lightBrownClass{
	background-color: #E2AF80 !important;
}

.orangeClass{
	background-color: orange !important;
}

.symbolText {
	display: inline-block;
	width: 115px;
	font-size: 20px !important;
	padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
	margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.newsText{
	display: inline-block;
	width: 75px;
	font-size: 20px !important;
	padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
	margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.manualAddText{
	display: inline-block;
	width: 75px;
	font-size: 20px !important;
	padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
	margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.allRows{
	height: 15px !important;
}